/* buttons.css*/
/* Index, Register, Login pag */
.btn-primary {
    width: 100%;
    display: inline-block;
    padding: 14px 24px;
    background: var(--gradient-primary);
    color: #FFFFFF;
    font-family: var(--font-family-base);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border-radius: var(--radius-btn);
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease, transform 0.1s ease;
}

.btn-primary:hover {
    opacity: 0.95;
}

.btn-primary:active {
    transform: scale(0.98);
}

/*Login, Register pag*/

.social-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
}

.btn-social {
    width: 100%;
    padding: 0.75rem;
    border-radius: 8px;
    font-family: var(--font-family-base);
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: none;
    transition: opacity 0.2s ease;
}

.btn-social:hover {
    opacity: 0.9;
}

.btn-apple { background-color: #FFF0F5; color: white; }
.btn-google { background-color: #FDF2F2; color: #D93025; }
.btn-facebook { background-color: #F0F7FF; color: #1877F2; }


/* Home, Networking, Oportunitats pag*/ 

.card-action-btn{
    width: 100%;
    padding: 6px 12px;
    border: 1.5px solid #c83b89;
    color: #C83B89;
    background: transparent;
    border-radius: 0.3rem;
    font-size: 0.75rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}