/*home.css*/
body.feed-page {
    padding-bottom: 75px;
    background-color: #FFFFFF;
}



/* Main container  */
.feed-container {
    padding: 0rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 600px;
    margin: 0 auto;
}

/* Cards */
.feed-cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    width: 100%;

}

.feed-card {
    background-color: #FFFFFF;
    border-radius: 12px;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
    padding: 0.75rem;
    
   
}

.card-image-placeholder {
    width: 100%;
    height: 8rem;
    background-color: #E5E7EB;
    border-radius: 1rem;
    margin-bottom: 0.4rem;
}

.h2-card-image{
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
}

.p-card-image{
    font-size: 0.7rem;
    color: #888888;
    margin-bottom: 0.6rem;
}



