/*responsiviness*/
.user-photo-placeholder, .user-info-desktop {
    display: none;
}

@media (min-width: 1024px) {
    .search-bar, .filters-container{ display: none !important;}
    .network-list{ display: grid; grid-template-columns: repeat(2, 1fr); gap: 0.5rem; width: 100%}
    .user-avatar-placeholder{ display: none}
    .network-card { display: flex !important; flex-direction: row; align-items: center;justify-content: space-between; }
    .user-photo-placeholder{ display: flex; max-width: 40%;}
    .user-info{ display: none;}
    .user-info-desktop{ display: inline;}
}

