/*main.css*/
:root {
    --color-bg: #ffff;
    --color-text: #2B2B2B;
    --gradient-primary: linear-gradient(90deg, #A02B93 0%, #C83B89 100%);
    
    /* Typography */
    --font-family-base: 'Inter', system-ui, -apple-system, sans-serif;
    
    /* Spacing & Borders */
    --radius-btn: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Defaults */
body {
    font-family: var(--font-family-base);
    background-color: var(--color-bg);
    color: var(--color-text);
    min-height: 100vh;
}

