body.network-page {
    padding-bottom: 75px;
   
}

.network-container {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 600px;
    margin: 0 auto;
}

/* User List */
.network-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

/* User Card */
.network-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 1rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.user-name {
    font-size: 0.95rem;
    font-weight: 600;
    margin: 0;
}

.user-role {
    font-size: 0.8rem;
    color: #888888;
    margin: 0 0 0.5rem 0;
}

.user-avatar-placeholder {
    width: 4rem;
    height: 4rem;
    background-color: #E5E7EB;
    border-radius: 8px;
    flex-shrink: 0;
}

/* filters Job pag*/

/* Filters Container */
.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.25rem 0.5rem;
}

/* Icons styling */
.filter-icon {
    font-size: 1.1rem;
    color: #1F2937;
}

.arrow-icon {
    font-size: 0.7rem;
    color: #6B7280;
    margin-left: 0.1rem;
}