:root{
    --color-bg: #F5F3EF;
    --color-text: #2B2B2B;
    --gradient-primary: linear-gradient(90deg, #A02B93 0%, #C83B89 100%);
    }
    
    /* Typography */
    --font-family-base: 'Inter', system-ui, -apple-system, sans-serif;
    
    /* Spacing & Borders */
    --radius-btn: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 32px;

    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    .header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70%; 
}
    .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
    .logo-img {
    width: 100%;
    max-width: 300px; 
    height: auto;
    display: block;
}
    body {
    font-family: var(--font-family-base);
    background-color: #FFFFFF;
    color: var(--color-text);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;

    }
    .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     margin-top: 0;
   
}
.welcome-container {
    width: 100%;
    max-width: 280px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
     gap: 10%;
    height: 22rem;
   
}

.welcome-tagline {
    margin-top: 0;
    font-size: 1.2rem; 
    line-height: 1.4;
    font-weight: 400;
    color: var(--color-text);
}